<div class="modal-header">
  <div class="modal-title font-weight-bold" id="modal-basic-title">Chart Settings</div>
  <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex">
    <div class="input-group date-input-group pr-5">
      <label for="startDateInput" class="font-weight-bold mb-0">Start Date</label>
    </div>
    <div class="input-group date-input-group">
      <label for="endDateInput" class="font-weight-bold mb-0">End Date</label>
    </div>
  </div>
  <div class="form-group d-flex">
    <div class="input-group date-input-group pr-5">
      <input id="startDateInput" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="startDate"
        ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i
            class="far fa-calendar"></i></button>
      </div>
    </div>
    <div class="input-group date-input-group">
      <input id="endDateInput" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="endDate" ngbDatepicker
        #d1="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button"><i
            class="far fa-calendar"></i></button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="font-weight-bold">Weather Data Point</div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let chartType of weatherChartTypes">
        <input type="radio" [(ngModel)]="selectedWeatherChart" name="weather-data-point" [value]="chartType.value" />
        {{chartType.name}}
      </li>
    </ul>
  </div>
  <div class="form-group">
    <div class="font-weight-bold">Data Point Aggregation</div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let aggregationType of dataPointAggrTypes">
        <input type="radio" [(ngModel)]="selectedDataPointAggr" name="data-point-aggr" [value]="aggregationType.value" />
        {{aggregationType.name}}
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="dismissModal()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="update()">Update</button>
</div>
