.visibility-toggle {
  width: fit-content;
  position: relative;
  left: -55px;
  background-color: white;
  border-radius: 5px;
  z-index: 1000;
  border: 2px solid black;
  cursor: pointer;

  i {
    font-size: 2.5rem;
  }
}

.hidden-charts {
  width: 0;
  .panel {
    display: none;
  }
}
