.app-container {
  display: flex;
  height: 100%;
}

.map-container {
  flex: 1;
}

.panel-container {
  flex: 3;
  z-index: 1;

  .visibility-toggle {
    width: fit-content;
    margin-left: -3.438rem;
    background-color: white;
    border-radius: 0.312rem;
    z-index: 1000;
    border: 0.125rem solid black;
    cursor: pointer;
    float: left;

    i {
      font-size: 2.5rem;
    }
  }
}

.panel-container-hidden {
  width: 0;
  flex: 0 !important;
}

@media (min-width: 992px) {
  .map-container {
    flex: 1;
  }

  .panel-container {
    flex: 1;
  }
}
@media (min-width: 1200px) {
  .map-container {
    flex: 3;
  }

  .panel-container {
    flex: 1;
  }
}
