.app-container {
  display: flex;
  height: 100%;
}

.map-container {
  flex: 3;
}

.panel-container {
  flex: 1;

  .visibility-toggle {
    width: fit-content;
    position: relative;
    left: -55px;
    background-color: white;
    border-radius: 5px;
    z-index: 1000;
    border: 2px solid black;
    cursor: pointer;
    float: left;

    i {
      font-size: 2.5rem;
    }
  }
}

.panel-container-hidden {
  width: 0;
  flex: 0;
}

.chart-container {
  width: 100%;
  float: left;
}
