.search-bar {
  display: flex;
  position: fixed;
  top: 15px;
  left: 70px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  span {
    padding: 0.5rem 0 0 0.438rem;
    .fa-search {
      font-size: 1.25rem;
    }
  }
  .form-control {
    border: 0px;
    font-size: .90rem;
  }
  .form-control:focus {
    box-shadow: none;
  }
}
.search-bar:focus-within {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
