<div class="h-100 d-flex flex-column">
  <div class="d-flex flex-column justify-content-center top-container">
    <div *ngIf="selectedCounty" class="text-center pt-2">
      <strong>{{selectedCounty.name}} County, {{selectedCounty.state}}</strong>
    </div>
    <div *ngIf="startDate && endDate" class="text-center py-2">
      {{startDate | date : dateFormat }} - {{endDate | date : dateFormat }}
    </div>
  </div>
  <div class="ml-1 mb-1 position-relative bottom-container">
    <button class="btn-primary rounded position-absolute p-1 settings-button" (click)="openChartSettings()">Chart Settings</button>
    <div class="share-icon position-absolute pr-2">
      <i class="fas fa-share-square" ngbTooltip="Copied URL to clipboard!"
      triggers="manual" #t="ngbTooltip" triggers="manual" (click)="share(t)"></i>
    </div>
  </div>
</div>