.settings-button {
    font-size: 0.85rem;
    bottom: 0;
}
.top-container {
    flex: 3;
}
.bottom-container {
    flex: 1;
}
.share-icon {
    cursor: pointer;
    right: 0;
    bottom: 0;
    i {
        font-size: 1.25rem;
    }
}
