<div class="h-100 d-flex flex-column justify-content-between">
  <div class="d-flex flex-column justify-content-center">
    <div *ngIf="selectedCounty" class="text-center pt-2">
      <strong>{{selectedCounty.name}} County, {{selectedCounty.state}}</strong>
    </div>
    <div *ngIf="startDate && endDate" class="text-center py-2">
      {{startDate | date : dateFormat }} - {{endDate | date : dateFormat }}
    </div>
  </div>
  <div class="pl-1 pb-1">
    <button class="btn-primary rounded settings-button">Chart Settings</button>
  </div>
</div>